.section.contacts-section
    .section-content.contacts-section__section-content
        ul.contacts-section__links-block
            li.contacts-section__item
                a.contacts-setion__link.contacts-section__text-link.
                    Pawia 5, 31-154 Kraków, Poland
            li.contacts-section__item
                a.contacts-setion__link.contacts-section__text-link.
                    ouremail@gmail.com
            li.contacts-section__item
                a.contacts-setion__link.contacts-section__text-link.
                    +48 12 628 75 60
            li.contacts-section_item
                a.contacts-setion__link.contacts-section__btn-link.contacts-section__btn-link_blue
                    |Bēhance
            li.contacts-section_item
                a.contacts-setion__link.contacts-section__btn-link.contacts-section__btn-link_pink
                    |dribbble
            li.contacts-section_item
                a.contacts-setion__link.contacts-section__btn-link.contacts-section__btn-link_dark-blue
                    |Contact Us