.section.introduction-section
    .section-content.introduction-section__section-content
        .introduction-section__top-content
            .introduction-section__text-banner
                .title-section.introduction-section__title-section
                    |Your next<br>interactive<br>experience
                .introduction-section__hire-btn
                    |Hire us
                    +svg-icon('arrow', 'introduction-section__btn-arrow')
            .introduction-section__img
                img(src="img/spaceman.png" alt="spaceman")
        .introduction-section__footer
            ul.introduction-section__propositions-list
                li.introduction-section__proposition-item
                    a(href="#").introduction-section__proposition-link
                        .introduction-section__proposition-item-title
                            |Metiew & Smith
                        .introduction-section__proposition-item-desc
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
                li.introduction-section__proposition-item
                    a(href="#").introduction-section__proposition-link
                        .introduction-section__proposition-item-title
                            |Fantasy interactive
                        .introduction-section__proposition-item-desc
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.
                li.introduction-section__proposition-item
                    a(href="#").introduction-section__proposition-link
                        .introduction-section__proposition-item-title
                            |Paul & shark
                        .introduction-section__proposition-item-desc
                            |Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.