.section.slider-section
    .section-content.slider-section__section-content
        .slider-section__title
            .title-section.title-section_small.slider-section__title-section.
                Selected work
        .slider-section__slider
            include ../components/slider