ul.aside-menu(data-active="false")
    li.aside-menu__item
        a(href="1" data-active="false").aside-menu__link Home
    li.aside-menu__item
        a(href="2" data-active="false").aside-menu__link Works
    li.aside-menu__item
        a(href="3" data-active="false").aside-menu__link About
    li.aside-menu__item
        a(href="4" data-active="false").aside-menu__link Contact
    li.aside-menu__item
        a(href="5" data-active="false").aside-menu__link Hire us
