ul.navigation
    li.navigation__item(data-number="1")
        .navigation__section-name Home
        .navigation__section-num 01
    li.navigation__item(data-number="2")
        .navigation__section-name Works
        .navigation__section-num 02
    li.navigation__item(data-number="3")
        .navigation__section-name About
        .navigation__section-num 03
    li.navigation__item(data-number="4")
        .navigation__section-name Contact
        .navigation__section-num 04
    li.navigation__item(data-number="5")
        .navigation__section-name Hire us
        .navigation__section-num 05